/* GridInputs.css */
.grid-size-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-size-row,
.grid-size-col {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 10px;
}

.grid-size-input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
}

.create-button {
  padding: 10px 20px;
  background-color: #0074cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #0052a6;
}

.default-grids {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
